@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.bar {
    background: $bar_bg;
    color: $bar_fg;
    opacity: $bar_opacity;

    font-family: Product Sans;
    font-size: 12pt;

    .bar-left {
        padding-left: 1rem;
        background-color: $bar_left_bg;

        .media {
            background-color: $media_bg;

            .media-box {
                border-radius: 0.5rem;

                .media-background {
                    margin: 0.2rem;
                    border-radius: 0.5rem;

                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;

                    min-width: 2.5rem;
                    min-height: 2.5rem;
                }

                .media-buttons {
                    padding-right: 0.5rem;
                    .circprog {
                        min-width: 2.5rem;
                        min-height: 2.5rem;

                        font-size: 2px;

                        background-color: $media_progress_bg;
                        color: $media_symbols_fg;

                        image {
                            font-size: 10pt;
                        }
                    }
                }

                .media-text {
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
            }
        }

        .systray {
            border-radius: 5rem;

            background-color: $systray_bg;

            image {
                font-size: 14pt;
            }
        }
    }

    .bar-center {
        .bar-corner {
            border-radius: 1.4rem;
            background-color: $ws_bg;
        }

        .workspaces {
            padding-top: 0.4rem;

            color: $ws_fg;
            background-color: $ws_bg;

            font-size: 13pt;

            .workspace-corner {
                border-radius: 1.4rem;
                background-color: $bar_bg;
            }

            .workspace {
                margin-bottom: 0.4rem;
                transition: all 200ms;
                padding: 0.2rem;

                &.occupied {
                    color: $ws_occupied_fg;
                    background-color: $ws_occupied_bg;
                    border-top: 1px solid $ws_occupied_border;
                    border-bottom: 1px solid $ws_occupied_border;

                    &.occupied-left {
                        border-bottom-left-radius: 1rem;
                        border-top-left-radius: 1rem;
                        border-left: 1px solid $ws_occupied_border;
                    }

                    &.occupied-right {
                        border-bottom-right-radius: 1rem;
                        border-top-right-radius: 1rem;
                        border-right: 1px solid $ws_occupied_border;
                    }
                }

                &:not(.occupied) {
                    border-radius: 1rem;
                }

                &.active {
                    .workspace-label {
                        background-color: $ws_active_bg;
                        color: $ws_active_fg;
                        border-radius: 1rem;
                    }
                }

                .workspace-label {
                    min-width: 2rem;
                }
            }
        }

        .title {
            font-size: 10pt;
        }
    }

    .bar-right {
        padding-right: 1rem;
        background-color: $bar_right_bg;

        .packages {
            margin-top: 0.4rem;
            margin-bottom: 0.4rem;

            padding-left: 0.8rem;
            padding-right: 0.8rem;

            border-radius: 5rem;

            color: $packages_fg;
            background-color: $packages_bg;

            label {
                margin-left: 0.5rem;
            }
        }

        .weather {
            .weather-icon {
                font-size: 18pt;
            }
        }

        .theme {
            margin-top: 0.2rem;
            margin-bottom: 0.2rem;
        }

        .keyboard {
            margin: 0.3rem;

            padding-left: 0.4rem;
            padding-right: 0.4rem;

            min-width: 1.6rem;

            font-size: 13pt;
            font-weight: 500;

            border-radius: 100%;

            background: $keyboard_bg;
            color: $keyboard_fg;
        }

        .system {
            .progress-wrapper {
                background: linear-gradient(
                    to right,
                    $system_progress_indicator 1px,
                    transparent 1px
                );
                background-size: 25%;
            }

            .progress-bar {
                border-radius: 10rem;
                background-color: $system_progress_bg;

                trough {
                    min-width: 6rem;
                    border-radius: 10rem;
                }

                progress {
                    border-radius: 10rem;
                }
            }

            .cpu {
                progress {
                    background-color: $system_progress_cpu;
                }
            }

            .temp {
                progress {
                    background-color: $system_progress_temp;
                }
            }

            .ram {
                progress {
                    background-color: $system_progress_ram;
                }
            }

            .gpu {
                progress {
                    background-color: $system_progress_gpu;
                }
            }
        }

        .configurations {
            margin-top: 0.4rem;
            margin-bottom: 0.4rem;

            padding-left: 0.8rem;
            padding-right: 0.8rem;

            border-radius: 5rem;

            background: $bar_configurations_bg;
            color: $bar_configurations_fg;
        }

        .battery {
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;

            .circprog {
                font-size: 2px;

                image {
                    font-size: 12pt;
                }
            }

            .full {
                color: $battery_full;
            }
            .high {
                color: $battery_high;
            }
            .medium {
                color: $battery_medium;
            }
            .low {
                color: $battery_low;
            }
        }

        .clock {
            color: $clock_fg;

            .time {
                font-size: 16pt;
                font-weight: bold;
            }
        }
    }
}
