@keyframes up-down {
    0% {
        background-position: center center;
    }

    5% {
        background-position: center center;
    }

    24% {
        background-position: bottom center;
    }

    30% {
        background-position: bottom center;
    }

    50% {
        background-position: center center;
    }

    55% {
        background-position: center center;
    }

    75% {
        background-position: top center;
    }

    80% {
        background-position: top center;
    }

    100% {
        background-position: center center;
    }
}

.bar {
    padding: 1rem;
    font-size: 12pt;
    background: $bar_bg;
    color: $bar_fg;
    border-radius: 0 0 1rem 1rem;

    .workspaces {
        margin: 0.6rem;
        background: $ws_bg;
        color: $ws_fg;
        border-radius: 1rem;

        .workspace {
            transition: all 200ms;
            padding: 0.2rem;

            &.occupied {
                color: $ws_occupied_fg;
                background-color: $ws_occupied_bg;
                border-top: 1px solid $ws_occupied_border;
                border-bottom: 1px solid $ws_occupied_border;

                &.occupied-left {
                    border-bottom-left-radius: 1rem;
                    border-top-left-radius: 1rem;
                    border-left: 1px solid $ws_occupied_border;
                }

                &.occupied-right {
                    border-bottom-right-radius: 1rem;
                    border-top-right-radius: 1rem;
                    border-right: 1px solid $ws_occupied_border;
                }
            }

            &:not(.occupied) {
                border-radius: 1rem;
            }

            &.active {
                .workspace-label {
                    background-color: $ws_active_bg;
                    color: $ws_active_fg;
                    border-radius: 1rem;
                }
            }

            .workspace-label {
                min-width: 2rem;
            }
        }
    }

    .media {
        margin-right: 2rem;

        .media-box {
            .media-background {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;

                opacity: 0.3;
                border-radius: 0.5rem;
            }

            .media-buttons {
                padding-left: 0.5rem;
                .circprog {
                    min-width: 2rem;
                    min-height: 2rem;

                    font-size: 2px;

                    background-color: $media_progress_bg;
                    color: $media_symbols_fg;

                    image {
                        font-size: 10pt;
                    }
                }
            }

            .media-text {
                margin-left: 1rem;
            }
        }
    }
}
