@keyframes up-down {
    0% {
        background-position: center center;
    }

    5% {
        background-position: center center;
    }

    24% {
        background-position: bottom center;
    }

    30% {
        background-position: bottom center;
    }

    50% {
        background-position: center center;
    }

    55% {
        background-position: center center;
    }

    75% {
        background-position: top center;
    }

    80% {
        background-position: top center;
    }

    100% {
        background-position: center center;
    }
}

.bar {
    background: $bar_bg;
    color: $bar_fg;
    opacity: $bar_opacity;
    // border-radius: 0 0 1rem 1rem;

    font-family: Product Sans;
    font-size: 12pt;

    .bar-left {
        margin-left: 1rem;

        .workspaces {
            margin-top: 0.4rem;
            margin-bottom: 0.4rem;

            background: $ws_bg;
            color: $ws_fg;
            border-radius: 1rem;

            font-size: 13pt;

            .workspace {
                transition: all 200ms;
                padding: 0.2rem;

                &.occupied {
                    color: $ws_occupied_fg;
                    background-color: $ws_occupied_bg;
                    border-top: 1px solid $ws_occupied_border;
                    border-bottom: 1px solid $ws_occupied_border;

                    &.occupied-left {
                        border-bottom-left-radius: 1rem;
                        border-top-left-radius: 1rem;
                        border-left: 1px solid $ws_occupied_border;
                    }

                    &.occupied-right {
                        border-bottom-right-radius: 1rem;
                        border-top-right-radius: 1rem;
                        border-right: 1px solid $ws_occupied_border;
                    }
                }

                &:not(.occupied) {
                    border-radius: 1rem;
                }

                &.active {
                    .workspace-label {
                        background-color: $ws_active_bg;
                        color: $ws_active_fg;
                        border-radius: 1rem;
                    }
                }

                .workspace-label {
                    min-width: 2rem;
                }
            }
        }

        .media {
            .media-box {
                .media-background {
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;

                    min-width: 24rem;

                    opacity: 0.3;
                    border-radius: 0.8rem;
                }

                .media-buttons {
                    padding-left: 0.5rem;
                    .circprog {
                        min-width: 2.5rem;
                        min-height: 2.5rem;

                        font-size: 2px;

                        background-color: $media_progress_bg;
                        color: $media_symbols_fg;

                        image {
                            font-size: 10pt;
                        }
                    }
                }

                .media-text {
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
            }
        }
    }

    .bar-center {
        .clock {
            margin: 0.2rem;
            padding-left: 0.8rem;
            padding-right: 0.8rem;

            border-radius: 5rem;

            background: $clock_bg;
            color: $clock_fg;
        }
    }

    .bar-right {
        margin-right: 1rem;

        .packages {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;

            padding-left: 0.8rem;
            padding-right: 0.8rem;

            border-radius: 5rem;

            color: $packages_fg;
            background-color: $packages_bg;

            label {
                margin-left: 0.5rem;
            }
        }

        .weather {
            .weather-icon {
                margin-right: 0.7rem;
                font-size: 18pt;
            }
        }

        .theme {
            margin-top: 0.2rem;
            margin-bottom: 0.2rem;
        }

        .keyboard {
            margin: 0.3rem;

            padding-left: 0.4rem;
            padding-right: 0.4rem;

            min-width: 1.6rem;

            font-size: 13pt;
            font-weight: 500;

            border-radius: 100%;

            background: $keyboard_bg;
            color: $keyboard_fg;
        }

        .system {
            .progress-bar {
                border-radius: 10rem;

                trough {
                    min-width: 6rem;
                    border-radius: 10rem;
                    background-color: $system_progress_bg;
                }

                progress {
                    border-radius: 10rem;
                }
            }

            .cpu {
                progress {
                    background-color: $system_progress_cpu;
                }
            }

            .temp {
                progress {
                    background-color: $system_progress_temp;
                }
            }

            .ram {
                progress {
                    background-color: $system_progress_ram;
                }
            }

            .gpu {
                progress {
                    background-color: $system_progress_gpu;
                }
            }
        }

        .configurations {
            margin-top: 0.2rem;
            margin-bottom: 0.2rem;

            padding-left: 0.8rem;
            padding-right: 0.8rem;

            border-radius: 5rem;

            background: $configurations_bg;
            color: $configurations_fg;
        }

        .battery {
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;

            .circprog {
                font-size: 2px;

                image {
                    font-size: 12pt;
                }
            }

            .full {
                color: $battery_full;
            }
            .high {
                color: $battery_high;
            }
            .medium {
                color: $battery_medium;
            }
            .low {
                color: $battery_low;
            }
        }

        .systray {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;

            padding-left: 0.8rem;
            padding-right: 0.8rem;

            border-radius: 5rem;

            background-color: $systray_bg;

            image {
                font-size: 14pt;
            }
        }
    }
}
