.calendar {
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid $calendar_border;
    background-color: $calendar_bg;
    color: $calendar_fg;
    font-family: Product Sans;
    font-size: 14pt;
    box-shadow: 0px 2px 3px $shadow;

    calendar {
        all: unset;

        &:selected {
            color: $calendar_selected;
        }

        &.header {
            background-color: transparent;
            border: none;
            color: $calendar_header;
        }

        &:indeterminate {
            color: $calendar_indeterminate;
        }
    }
}
