$shadow: $black;

$bar_bg: $bg;
$bar_fg: $fg;
$bar_opacity: 1;

$bar_right_bg: $bg;
$bar_left_bg: $bg;

$ws_fg: $fg;
$ws_bg: $black;
$ws_occupied_bg: $bright_black;
$ws_occupied_fg: $fg;
$ws_occupied_border: $fg;
$ws_active_bg: $fg;
$ws_active_fg: $bright_black;

$media_bg: $bg;
$media_symbols_fg: $fg;
$media_progress_bg: $white;

$packages_fg: $bg;
$packages_bg: $green;

$keyboard_fg: $fg;
$keyboard_bg: $bright_black;

$system_progress_bg: $bright_black;
$system_progress_indicator: $bg;
$system_progress_cpu: $blue;
$system_progress_temp: $red;
$system_progress_ram: $magenta;
$system_progress_gpu: $cyan;

$bar_configurations_fg: $fg;
$bar_configurations_bg: $bright_black;

$battery_full: $blue;
$battery_high: $green;
$battery_medium: $yellow;
$battery_low: $red;

$clock_fg: $fg;

$systray_bg: $bg;


$notifications_bg: $bg;
$notifications_fg: $fg;
$notifications_icon: $bright_black;
$notifications_close_bg: $bright_black;
$notifications_close_fg: $fg;
$notifications_close_hover_bg: $red;
$notifications_close_hover_fg: $black;
$notifications_action: $black;
$notifications_action_hover: $bright_black;


$calendar_bg: $bg;
$calendar_fg: $fg;
$calendar_border: $black;
$calendar_header: $blue;
$calendar_indeterminate: $bright_black;
$calendar_selected: $magenta;


$configurations_bg: $bg;
$configurations_fg: $fg;
$configurations_border: $black;

$toggle_bg: $white;
$toggle_fg: $fg;
$toggle_active_bg: $magenta;
$toggle_active_fg: $black;
$toggle_hover: $bright_black;
$toggle_arrow_hover: $bright_black;
$toggle_active_hover: $magenta;
$toggle_arrow_active_hover: $magenta;

$footer_bg: $bright_black;

$footer_power_fg: $fg;
$footer_power_bg: $bright_black;
$footer_power_hover_fg: $black;
$footer_power_hover_bg: $red;

$footer_theme_fg: $fg;
$footer_theme_bg: $bright_black;
$footer_theme_hover_fg: $black;
$footer_theme_hover_bg: $blue;

$footer_wallpaper_fg: $fg;
$footer_wallpaper_bg: $bright_black;
$footer_wallpaper_hover_fg: $black;
$footer_wallpaper_hover_bg: $green;

$configurations_notifications_bg: $black;
$configurations_notifications_fg: $fg;
$configurations_notifications_clear: $bg;
$configurations_notifications_clear_hover: $bright_black;
$configurations_notifications_slider: $bright_black;
$configurations_notifications_slider_hover: $fg;


$menu_bg: $bg;
$menu_fg: $fg;

$menu_selection_bg: $bright_black;
$menu_nocontent_fg: $white;
$menu_bt_battery: $green;

$slider_bg: $bright_black;
$slider_volume_fg: $cyan;
$slider_microphone_fg: $blue;
$slider_brightness_fg: $yellow;
$slider_mixer_fg: $fg;


$osd_bg: $bg;
$osd_icon: $fg;
$osd_text: $fg;
$osd_slider: $fg;


$sideleft_bg: $bg;
$sideleft_fg: $fg;
$sideleft_opacity: 0.95;

$sideleft_tab_fg: $fg;
$sideleft_tab_hover_bg: $bright_black;
$sideleft_tab_active_fg: $blue;

$sideleft_apiswitcher_bg: $bright_black;

$sideleft_info_fg: $white;
$sideleft_temperature: $magenta;
$sideleft_settings_toggle: $bright_black;
$sideleft_settings_toggle_active_bg: $magenta;
$sideleft_settings_toggle_active_fg: $bg;

$sideleft_text_bg: $bright_black;
$sideleft_text_send_bg: $blue;
$sideleft_text_send_fg: $bg;

$sideleft_chip_bg: $blue;
$sideleft_chip_fg: $bg;
$sideleft_chip_hover: $fg;
$sideleft_tags: $magenta;

$sideleft_bot: $fg;
$sideleft_user: $yellow;
$sideleft_system: $blue;

$sideleft_cb_bg: $black;
$sideleft_cb_fg: $fg;
$sideleft_cb_border: $bright_black;
$sideleft_cb_topbar_bg: $bg;
$sideleft_cb_topbar_fg: $fg;
$sideleft_cb_topbar_border: $bright_black;
$sideleft_cb_topbar_btn_hover: $bright_black;
$sideleft_cb_topbar_btn_active: $white;

$sideleft_waifu_action: $bg;
$sideleft_waifu_action_hover: $bright_black;
$sideleft_waifu_action_active: $white;


$overview_bg: $bg;
$overview_fg: $fg;
$overview_opacity: 0.9;

$overview_search_bg: $black;
$overview_result_bg: $bg;
$overview_window_bg: $bright_black;
$overview_window_hover: $blue;


$menu_bg: $bright_black;
$menu_fg: $fg;
$menu_hover_bg: $white;
$menu_hover_fg: $bg;
