.configurations-window {
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 2rem;
    border-radius: 3rem;
    background-color: $configurations_bg;
    color: $configurations_fg;
    border: 1px solid $configurations_border;
    min-height: 30rem;
    font-family: Product Sans;

    .configurations-main {
        .toggle-btn {
            background-color: transparentize($toggle_bg, 0.93);
            color: $toggle_fg;
            border-radius: 2rem;
            min-width: 15rem;
            min-height: 5rem;

            > * {
                transition:
                    background-color 0.3s ease-in-out,
                    color 0.3s ease-in-out;
            }

            .arrow {
                border-radius: 0 2rem 2rem 0;

                &:hover {
                    background-color: $toggle_arrow_hover;
                }
            }

            .toggle {
                border-radius: 2rem;

                &:hover {
                    background-color: $toggle_hover;
                }
            }
            .arrow-toggle {
                border-radius: 2rem 0 0 2rem;
            }

            &.active {
                background-color: $toggle_active_bg;
                color: $toggle_active_fg;

                .toggle:hover {
                    background-color: $toggle_active_hover;
                }

                .arrow:hover {
                    background-color: $toggle_arrow_active_hover;
                }
            }

            image {
                margin-left: 1.5rem;
                margin-right: 1.2rem;
            }

            .title {
                font-weight: 600;
            }
        }
    }

    .slider-box {
        scale {
            * {
                border-radius: 10rem;
                transition:
                    background-color 0.3s ease-in-out,
                    color 0.3s ease-in-out;
            }

            slider {
                min-height: 1rem;
                background-color: transparent;
            }

            trough {
                background-color: $slider_bg;
            }

            fill {
                background-color: transparent;
            }
        }

        .volume-box {
            highlight, progress {
                background-color: $slider_volume_fg;
            }
        }
        .volmicrophone-box {
            margin-right: 4rem;
            highlight, progress {
                background-color: $slider_microphone_fg;
            }
        }
        .brightness-box {
            margin-right: 4rem;
            highlight, progress {
                background-color: $slider_brightness_fg;
            }
        }
    }
}

.menu {
    padding: 2rem;
    border-radius: 3rem;
    background-color: $menu_bg;
    color: $menu_fg;
    min-width: 24rem;

    .horizontal {
        margin-bottom: 0.2rem;

        .title {
            label {
                font-weight: bold;
                font-size: 16pt;
            }

            image {
                margin-right: 1rem;
            }
        }
    }

    button {
        padding: 0.8rem 1rem;
        border-radius: 1rem;
        margin: 0.2rem 0;
        transition: background-color 0.1s ease-in-out;

        &:hover {
            background-color: $menu_selection_bg;
        }
    }

    .content {
        button {
            image {
                margin-right: 1rem;
            }
        }
    }

    .no-content {
        color: $menu_nocontent_fg;
    }
}

.bluetooth {
    .bt-battery {
        margin-left: 1rem;
        color: $menu_bt_battery;
    }
}
