.configurations-window {
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 2rem 1.5rem;
    border-radius: 3rem;
    background-color: $configurations_bg;
    color: $configurations_fg;
    border: 1px solid $configurations_border;
    min-height: 30rem;
    font-family: Product Sans;
    box-shadow: 0px 2px 3px $shadow;

    .configurations-main {
        .toggle-btn {
            background-color: $toggle_bg;
            color: $toggle_fg;
            border-radius: 2rem;
            min-width: 15.3rem;
            min-height: 5rem;

            > * {
                transition:
                    background-color 0.3s ease-in-out,
                    color 0.3s ease-in-out;
            }

            .arrow {
                border-radius: 0 2rem 2rem 0;

                &:hover {
                    background-color: $toggle_arrow_hover;
                }
            }

            .toggle {
                border-radius: 2rem;

                &:hover {
                    background-color: $toggle_hover;
                }
            }
            .arrow-toggle {
                border-radius: 2rem 0 0 2rem;
            }

            &.active {
                background-color: $toggle_active_bg;
                color: $toggle_active_fg;

                .toggle:hover {
                    background-color: $toggle_active_hover;
                }

                .arrow:hover {
                    background-color: $toggle_arrow_active_hover;
                }
            }

            image {
                margin-left: 1.5rem;
                margin-right: 1.2rem;
            }

            .title {
                font-weight: 600;
            }
        }

        .footer {
            .footer-item {
                padding: 1rem;
                border-radius: 2rem;
                min-width: 1.3rem;
                min-height: 1.3rem;
                background-color: $footer_bg;
                font-size: 12pt;
                transition:
                    background-color 0.3s ease-in-out,
                    color 0.3s ease-in-out;

                &:not(:first-child) {
                    margin-left: 1rem;
                }
            }

            .wallpaper {
                background-color: $footer_wallpaper_bg;
                color: $footer_wallpaper_fg;

                &:hover {
                    background-color: $footer_wallpaper_hover_bg;
                    color: $footer_wallpaper_hover_fg;
                }
            }
            .theme {
                background-color: $footer_theme_bg;
                color: $footer_theme_fg;

                &:hover {
                    background-color: $footer_theme_hover_bg;
                    color: $footer_theme_hover_fg;
                }
            }
            .power {
                background-color: $footer_power_bg;
                color: $footer_power_fg;

                &:hover {
                    background-color: $footer_power_hover_bg;
                    color: $footer_power_hover_fg;
                }
            }
        }
    }

    .notifications {
        margin-left: 2rem;
        min-width: 28rem;
        border-radius: 2.5rem;
        background-color: $configurations_notifications_bg;
        color: $configurations_notifications_fg;
    }
    .placeholder {
        > image {
            font-size: 40pt;
            margin-bottom: 1.5rem;
        }
    }

    .notification-list {
        border-radius: 2.5rem;
        min-height: 20rem;
    }

    .notification-scrollable {
        padding: 1.5rem;
        min-height: 30rem;
        scrollbar,
        scrollbar * {
            all: unset;
        }

        scrollbar.vertical {
            &:hover {
                slider {
                    background-color: $configurations_notifications_slider_hover;
                    min-width: 0.6rem;
                }
            }
        }

        scrollbar.vertical slider {
            background-color: $configurations_notifications_slider;
            border-radius: 1rem;
            min-width: 0.4rem;
            min-height: 2rem;
        }
    }

    .notifications__clear-button {
        background: $configurations_notifications_clear;
        padding: 1rem 1.5rem;
        border-radius: 3rem;
        margin-bottom: 1.2rem;
        margin-right: 2.2rem;
        transition:
            background-color 0.2s ease-in-out,
            color 0.2s ease-in-out;
        &:hover {
            background: $configurations_notifications_clear_hover;
        }
    }

    .slider-box {
        scale {
            min-width: 24rem;
            * {
                border-radius: 10rem;
                transition:
                    background-color 0.3s ease-in-out,
                    color 0.3s ease-in-out;
            }

            slider {
                min-height: 1rem;
                background-color: transparent;
            }

            trough {
                background-color: $slider_bg;
            }

            fill {
                background-color: transparent;
            }
        }
    }
    .volume-box {
        highlight,
        progress {
            background-color: $slider_volume_fg;
        }
    }
    .volmicrophone-box {
        highlight,
        progress {
            background-color: $slider_microphone_fg;
        }
    }
    .brightness-box {
        highlight,
        progress {
            background-color: $slider_brightness_fg;
        }
    }
}

.config-menu {
    padding: 2rem;
    border-radius: 3rem;
    background-color: $menu_bg;
    color: $menu_fg;
    min-width: 24rem;

    .horizontal {
        margin-bottom: 0.2rem;

        .title {
            label {
                font-weight: bold;
                font-size: 16pt;
            }

            image {
                margin-right: 1rem;
            }
        }
    }

    button {
        padding: 0.8rem 1rem;
        border-radius: 1rem;
        margin: 0.2rem 0;
        transition: background-color 0.1s ease-in-out;

        &:hover {
            background-color: $menu_selection_bg;
        }
    }

    .content {
        button {
            image {
                margin-right: 1rem;
            }
        }
    }

    .no-content {
        color: $menu_nocontent_fg;
    }
}

.bluetooth {
    .bt-battery {
        margin-left: 1rem;
        color: $menu_bt_battery;
    }
}

.app-mixer {
    .mixer-item {
        scale {
            * {
                border-radius: 10rem;
                transition:
                    background-color 0.3s ease-in-out,
                    color 0.3s ease-in-out;
            }

            slider {
                min-height: 0.5rem;
                background-color: transparent;
            }

            trough {
                background-color: $slider_bg;
            }
            highlight,
            progress {
                background-color: $slider_mixer_fg;
            }

            fill {
                background-color: transparent;
            }
        }
    }
}
