$fg: #c0caf5;
$bg: #24283b;

$black: #1d202f;
$red: #f7768e;
$green: #9ece6a;
$yellow: #e0af68;
$blue: #7aa2f7;
$magenta: #bb9af7;
$cyan: #7dcfff;
$white: #a9b1d6;

$bright_black: #414868;
$bright_white: #c0caf5;


$primary: #c1c1ff;
$onPrimary: #252477;
$primaryContainer: #3d3d8f;
$onPrimaryContainer: #e1e0ff;

$secondary: #c6c4dd;
$onSecondary: #2f2f42;
$secondaryContainer: #454559;
$onSecondaryContainer: #e3e0f9;

$tertiary: #eab9d3;
$onTertiary: #462639;
$tertiaryContainer: #5f3c51;
$onTertiaryContainer: #ffd7ed;

$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;

$surface: #1c1b1e;
$onSurface: #e5e1e6;
$surfaceVariant: #47464f;
$onSurfaceVariant: #c8c5d0;

$onBackground: #e5e1e6;

$outline: #918f99;

$inversePrimary: #5555a9;
$inverseSurface: #e5e1e6;
$inverseOnSurface: #313033;
