.volume-box {
    .volume-icon {
        font-size: 16pt;
        color: $sys_volume;
    }

    .volume-slider {
        trough {
            background-color: $sysslider_bg;
            border-radius: 24px;
            margin-left: 2rem;
            min-height: 10px;
            min-width: 8rem;
        }
        highlight {
            @include rounding;
            background-image: linear-gradient(
                to right,
                $sysvolslider1,
                $sysvolslider2
            );
        }
    }
}
