* {
  all: unset; }

@keyframes gradient {
  0% {
    background-position: 0% 0%; }
  100% {
    background-position: 100% 0%; } }

.bar {
  background: #24283b;
  color: #c0caf5;
  opacity: 1;
  font-family: Product Sans;
  font-size: 12pt; }
  .bar .bar-left .media .media-box {
    border-radius: 0.5rem; }
    .bar .bar-left .media .media-box .media-background {
      margin: 0.2rem;
      border-radius: 0.5rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      min-width: 2.5rem;
      min-height: 2.5rem; }
    .bar .bar-left .media .media-box .media-buttons {
      padding-right: 0.5rem; }
      .bar .bar-left .media .media-box .media-buttons .circprog {
        min-width: 2.5rem;
        min-height: 2.5rem;
        font-size: 2px;
        background-color: #a9b1d6;
        color: #c0caf5; }
        .bar .bar-left .media .media-box .media-buttons .circprog image {
          font-size: 10pt; }
    .bar .bar-left .media .media-box .media-text {
      margin-left: 1rem;
      margin-right: 1rem; }
  .bar .bar-left .systray .systray-item {
    font-size: 14pt; }
    .bar .bar-left .systray .systray-item:first-child {
      margin-left: 1rem; }
  .bar .bar-center .bar-corner {
    border-radius: 1.4rem;
    background-color: #414868; }
  .bar .bar-center .workspaces {
    padding-top: 0.4rem;
    color: #a9b1d6;
    background-color: #414868;
    font-size: 13pt; }
    .bar .bar-center .workspaces .workspace-corner {
      border-radius: 1.4rem;
      background-color: #24283b; }
    .bar .bar-center .workspaces .workspace {
      margin-bottom: 0.4rem;
      transition: all 200ms;
      padding: 0.2rem; }
      .bar .bar-center .workspaces .workspace.occupied {
        color: #3c1b72;
        background-color: #d5baff;
        border-top: 1px solid #54358a;
        border-bottom: 1px solid #54358a; }
        .bar .bar-center .workspaces .workspace.occupied.occupied-left {
          border-bottom-left-radius: 1rem;
          border-top-left-radius: 1rem;
          border-left: 1px solid #54358a; }
        .bar .bar-center .workspaces .workspace.occupied.occupied-right {
          border-bottom-right-radius: 1rem;
          border-top-right-radius: 1rem;
          border-right: 1px solid #54358a; }
      .bar .bar-center .workspaces .workspace:not(.occupied) {
        border-radius: 1rem; }
      .bar .bar-center .workspaces .workspace.active .workspace-label {
        background-color: #54358a;
        color: #ecdcff;
        border: 1px solid #d5baff;
        border-radius: 1rem; }
      .bar .bar-center .workspaces .workspace .workspace-label {
        min-width: 2rem;
        border-radius: 1rem;
        border: 1px solid transparent; }
  .bar .bar-center .title {
    font-size: 10pt; }
  .bar .bar-right {
    padding-right: 1rem; }
    .bar .bar-right .packages {
      margin-top: 0.4rem;
      margin-bottom: 0.4rem;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      border-radius: 5rem;
      color: #002d6e;
      background-color: #acc6ff; }
      .bar .bar-right .packages label {
        margin-left: 0.5rem; }
    .bar .bar-right .weather .weather-icon {
      font-size: 18pt; }
    .bar .bar-right .theme {
      margin-top: 0.2rem;
      margin-bottom: 0.2rem; }
    .bar .bar-right .keyboard {
      font-size: 13pt;
      border-radius: 10rem;
      margin: 0.2rem 0;
      min-width: 2.5rem;
      background: #acc6ff;
      color: #002d6e; }
    .bar .bar-right .system {
      margin: 0.2rem 0; }
      .bar .bar-right .system .progress-wrapper {
        background: linear-gradient(to right, #24283b 1px, transparent 1px);
        background-size: 25%; }
      .bar .bar-right .system .progress-bar {
        border-radius: 10rem;
        background-color: #414868; }
        .bar .bar-right .system .progress-bar trough {
          min-width: 6rem;
          border-radius: 10rem; }
        .bar .bar-right .system .progress-bar progress {
          border-radius: 10rem; }
      .bar .bar-right .system .cpu progress {
        background-color: #d5baff; }
      .bar .bar-right .system .temp progress {
        background-color: #c0caf5; }
      .bar .bar-right .system .ram progress {
        background-color: #acc6ff; }
      .bar .bar-right .system .gpu progress {
        background-color: #a5d570; }
    .bar .bar-right .configurations {
      margin-top: 0.4rem;
      margin-bottom: 0.4rem;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      border-radius: 5rem;
      background: #414868;
      color: #a9b1d6; }
    .bar .bar-right .battery .circprog {
      min-width: 2.3rem;
      font-size: 2px; }
      .bar .bar-right .battery .circprog image {
        font-size: 11pt; }
    .bar .bar-right .battery .full {
      color: #d5baff; }
    .bar .bar-right .battery .high {
      color: #acc6ff; }
    .bar .bar-right .battery .medium {
      color: #a5d570; }
    .bar .bar-right .battery .low {
      color: #ffb2be; }
    .bar .bar-right .clock .time {
      font-size: 16pt;
      font-weight: bold; }

.notifications-popup-list {
  margin-top: 0.2rem;
  min-width: 30rem; }
  .notifications-popup-list .notification > box {
    background-color: rgba(36, 40, 59, 0.8); }

.notification:first-child > box {
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem; }

.notification:last-child > box {
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem; }

.notification > box {
  padding: 1.2rem;
  margin-bottom: 0.5rem;
  color: #c0caf5;
  background-color: #24283b;
  border-radius: 1.5rem; }

.notification .icon {
  margin-right: 1rem;
  background: #414868;
  border-radius: 6rem; }

.notification .title {
  font-size: 12pt;
  font-weight: 600;
  margin-bottom: 0.3rem; }

.notification .time {
  font-size: 11pt;
  font-weight: 400; }

.notification .description {
  font-size: 11pt;
  font-weight: 400; }

.notification .action-button {
  margin-top: 1rem;
  border-radius: 0.4rem;
  padding: 0.3rem 0;
  background-color: #414868;
  transition: background-color 0.2s ease-in-out; }
  .notification .action-button:hover {
    background-color: #a9b1d6; }

.notification .close-button {
  margin-left: 0.8rem;
  padding: 0.2rem;
  border-radius: 3rem;
  background-color: #414868;
  color: #a9b1d6;
  font-size: 20px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; }
  .notification .close-button:hover {
    background-color: #ffb2be;
    color: #660224; }

.calendar {
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid #414868;
  background-color: #24283b;
  color: #c0caf5;
  font-family: Product Sans;
  font-size: 14pt;
  box-shadow: 0px 2px 3px #24283b; }
  .calendar calendar {
    all: unset; }
    .calendar calendar:selected {
      color: #d5baff; }
    .calendar calendar.header {
      background-color: transparent;
      border: none;
      color: #d5baff; }
    .calendar calendar:indeterminate {
      color: #414868; }

.configurations-window {
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 2rem 1.5rem;
  border-radius: 3rem;
  background-color: #24283b;
  color: #c0caf5;
  border: 1px solid #414868;
  min-height: 30rem;
  font-family: Product Sans;
  box-shadow: 0px 2px 3px #24283b; }
  .configurations-window .configurations-main .toggle-btn {
    background-color: #414868;
    color: #a9b1d6;
    border-radius: 2rem;
    min-width: 15.3rem;
    min-height: 5rem; }
    .configurations-window .configurations-main .toggle-btn > * {
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; }
    .configurations-window .configurations-main .toggle-btn .arrow {
      border-radius: 0 2rem 2rem 0; }
      .configurations-window .configurations-main .toggle-btn .arrow:hover {
        background-color: #d5baff;
        color: #3c1b72; }
    .configurations-window .configurations-main .toggle-btn .toggle {
      border-radius: 2rem; }
      .configurations-window .configurations-main .toggle-btn .toggle:hover {
        background-color: #d5baff;
        color: #3c1b72; }
    .configurations-window .configurations-main .toggle-btn .arrow-toggle {
      border-radius: 2rem 0 0 2rem; }
    .configurations-window .configurations-main .toggle-btn.active {
      background-color: #54358a;
      color: #ecdcff; }
      .configurations-window .configurations-main .toggle-btn.active .toggle:hover {
        background-color: #d5baff;
        color: #3c1b72; }
      .configurations-window .configurations-main .toggle-btn.active .arrow:hover {
        background-color: #d5baff;
        color: #3c1b72; }
    .configurations-window .configurations-main .toggle-btn image {
      margin-left: 1.5rem;
      margin-right: 1.2rem; }
    .configurations-window .configurations-main .toggle-btn .title {
      font-weight: 600; }
  .configurations-window .configurations-main .footer .footer-item {
    padding: 1rem;
    border-radius: 2rem;
    min-width: 1.3rem;
    min-height: 1.3rem;
    background-color: #414868;
    color: #a9b1d6;
    font-size: 12pt;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; }
    .configurations-window .configurations-main .footer .footer-item:not(:first-child) {
      margin-left: 1rem; }
  .configurations-window .configurations-main .footer .theme {
    background-color: #414868;
    color: #a9b1d6; }
    .configurations-window .configurations-main .footer .theme:hover {
      background-color: #acc6ff;
      color: #002d6e; }
  .configurations-window .configurations-main .footer .power {
    background-color: #414868;
    color: #a9b1d6; }
    .configurations-window .configurations-main .footer .power:hover {
      background-color: #acc6ff;
      color: #002d6e; }
  .configurations-window .notifications {
    margin-left: 2rem;
    min-width: 28rem;
    border-radius: 2.5rem;
    background-color: #414868;
    color: #a9b1d6; }
  .configurations-window .placeholder > image {
    font-size: 40pt;
    margin-bottom: 1.5rem; }
  .configurations-window .notification-list {
    border-radius: 2.5rem;
    min-height: 20rem; }
  .configurations-window .notification-scrollable {
    padding: 1.5rem;
    min-height: 30rem; }
    .configurations-window .notification-scrollable scrollbar,
    .configurations-window .notification-scrollable scrollbar * {
      all: unset; }
    .configurations-window .notification-scrollable scrollbar.vertical:hover slider {
      background-color: #a9b1d6;
      min-width: 0.6rem; }
    .configurations-window .notification-scrollable scrollbar.vertical slider {
      background-color: #a9b1d6;
      border-radius: 1rem;
      min-width: 0.4rem;
      min-height: 2rem; }
  .configurations-window .notifications__clear-button {
    background: #24283b;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    margin-bottom: 1.2rem;
    margin-right: 2.2rem;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; }
    .configurations-window .notifications__clear-button:hover {
      background-color: #a5d570;
      color: #1b3700; }
  .configurations-window .slider-box scale {
    min-width: 24rem; }
    .configurations-window .slider-box scale * {
      border-radius: 10rem;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; }
    .configurations-window .slider-box scale slider {
      min-height: 1rem;
      background-color: transparent; }
    .configurations-window .slider-box scale trough {
      background-color: #414868; }
    .configurations-window .slider-box scale fill {
      background-color: transparent; }
  .configurations-window .volume-box highlight,
  .configurations-window .volume-box progress {
    background-color: #acc6ff; }
  .configurations-window .volmicrophone-box highlight,
  .configurations-window .volmicrophone-box progress {
    background-color: #acc6ff; }
  .configurations-window .brightness-box highlight,
  .configurations-window .brightness-box progress {
    background-color: #acc6ff; }

.config-menu {
  padding: 2rem;
  border-radius: 3rem;
  background-color: #414868;
  color: #c0caf5;
  min-width: 24rem; }
  .config-menu .horizontal {
    margin-bottom: 0.2rem; }
    .config-menu .horizontal .title label {
      font-weight: bold;
      font-size: 16pt; }
    .config-menu .horizontal .title image {
      margin-right: 1rem; }
  .config-menu button {
    padding: 0.8rem 1rem;
    border-radius: 1rem;
    margin: 0.2rem 0;
    transition: background-color 0.1s ease-in-out; }
    .config-menu button:hover {
      background-color: #414868; }
  .config-menu .content button image {
    margin-right: 1rem; }
  .config-menu .no-content {
    color: #a9b1d6; }

.bluetooth .bt-battery {
  margin-left: 1rem;
  color: #9ece6a; }

.app-mixer .mixer-item scale * {
  border-radius: 10rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; }

.app-mixer .mixer-item scale slider {
  min-height: 0.5rem;
  background-color: transparent; }

.app-mixer .mixer-item scale trough {
  background-color: #414868; }

.app-mixer .mixer-item scale highlight,
.app-mixer .mixer-item scale progress {
  background-color: #a9b1d6; }

.app-mixer .mixer-item scale fill {
  background-color: transparent; }

.sidebar-left {
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 2rem;
  min-width: 40rem;
  opacity: 0.95;
  background-color: #24283b;
  color: #c0caf5;
  font-family: Product Sans; }
  .sidebar-left .nav-bar {
    margin-bottom: 1rem; }
    .sidebar-left .nav-bar .sidebar-selector-tab {
      margin: 0 1rem;
      padding: 0.5rem;
      border-radius: 1rem;
      font-size: 13pt;
      color: #c0caf5; }
      .sidebar-left .nav-bar .sidebar-selector-tab:hover {
        background-color: #414868; }
      .sidebar-left .nav-bar .sidebar-selector-tab image {
        margin-right: 0.5rem; }
    .sidebar-left .nav-bar .sidebar-selector-tab-active {
      color: #7aa2f7; }
    .sidebar-left .nav-bar .sidebar-selector-highlight {
      transition: 180ms ease-in-out;
      color: #7aa2f7;
      min-height: 0.2rem; }
  .sidebar-left .content .sidebar-chat-apiswitcher {
    font-size: 16pt;
    margin-bottom: 0.7rem; }
  .sidebar-left .content .sidebar-chat-apiswitcher-icon-enabled {
    background: #414868;
    padding: 0.3rem;
    min-width: 3rem;
    border-radius: 2rem; }
  .sidebar-left .content .sidebar-chat-textarea {
    background-color: #414868;
    padding: 0.6rem;
    border-radius: 0.7rem; }
    .sidebar-left .content .sidebar-chat-textarea .sidebar-chat-send {
      padding: 0.4rem;
      border-radius: 1rem;
      transition: all 100ms ease-in-out; }
      .sidebar-left .content .sidebar-chat-textarea .sidebar-chat-send:hover {
        background-color: #7aa2f7;
        color: #24283b; }
  .sidebar-left .content .commands {
    margin-bottom: 1rem; }
    .sidebar-left .content .commands .sidebar-chat-chip {
      padding: 0.3rem 0.8rem;
      border-radius: 1rem;
      font-size: 12pt;
      background-color: #7aa2f7;
      color: #24283b;
      border: 2px solid transparent;
      transition: all 100ms ease-in-out; }
      .sidebar-left .content .commands .sidebar-chat-chip:hover {
        border: 2px solid #c0caf5;
        padding: 0.3rem 2rem; }
    .sidebar-left .content .commands .tags {
      margin: 0 2rem; }
      .sidebar-left .content .commands .tags .sidebar-chat-chip {
        background-color: #bb9af7; }
  .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-info {
    color: #a9b1d6;
    margin-bottom: 1rem; }
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-info .sidebar-chat-welcome-logo {
      color: #c0caf5;
      font-size: 64pt;
      margin-bottom: 1rem; }
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-info .sidebar-chat-welcome-txt {
      color: #c0caf5;
      font-size: 14pt; }
  .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-settings scale {
    margin-top: 0.3rem; }
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-settings scale * {
      border-radius: 1rem; }
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-settings scale slider {
      border-radius: 1rem; }
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-settings scale trough {
      background-color: #414868;
      min-height: 0.3rem; }
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-settings scale fill {
      background-color: transparent; }
  .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-settings highlight,
  .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-settings progress {
    background-color: #bb9af7; }
  .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-settings .sidebar-chat-settings-toggle {
    margin-top: 0.8rem;
    padding: 0.2rem 0.8rem;
    min-height: 2rem;
    border-radius: 2rem;
    border: 2px solid transparent;
    background-color: #414868; }
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-settings .sidebar-chat-settings-toggle image {
      font-size: 14pt; }
  .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-settings .sidebar-chat-settings-toggle-active {
    color: #24283b;
    background-color: #bb9af7; }
  .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-message {
    margin: 0.7rem; }
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-message .sidebar-chat-indicator {
      border-radius: 1rem;
      min-width: 0.1rem; }
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-message .sidebar-chat-indicator-user {
      background-color: #e0af68; }
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-message .sidebar-chat-indicator-bot {
      background-color: #c0caf5; }
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-message .sidebar-chat-indicator-System {
      background-color: #7aa2f7; }
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-message .sidebar-chat-name {
      margin-bottom: 0.8rem;
      padding-left: 0.8rem;
      font-weight: bold; }
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-message .sidebar-chat-txtblock {
      padding-left: 0.8rem; }
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-message .sidebar-chat-codeblock {
      border-radius: 1rem;
      background-color: #1d202f;
      color: #c0caf5;
      margin: 0rem 0.8rem;
      border: 0.1rem solid #414868; }
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-message .sidebar-chat-codeblock-topbar {
      margin: 0.3rem;
      margin-bottom: 0rem;
      background-color: #24283b;
      color: #c0caf5;
      border-radius: 0.8rem;
      border: 0.1rem solid #414868;
      padding: 0.4rem; }
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-message .sidebar-chat-codeblock-topbar-txt {
      padding: 0.3rem; }
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-message .sidebar-chat-codeblock-topbar-btn {
      padding: 0.3rem 0.5rem;
      border-radius: 0.5rem; }
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-message .sidebar-chat-codeblock-topbar-btn:hover,
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-message .sidebar-chat-codeblock-topbar-btn:focus {
      background-color: #414868; }
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-message .sidebar-chat-codeblock-topbar-btn:active {
      background-color: #a9b1d6; }
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-message .sidebar-chat-codeblock-code {
      padding: 0.7rem;
      font-family: monospace; }
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-message .sidebar-chat-divider {
      min-height: 1px;
      margin: 0rem 0.5rem; }
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-message .sidebar-waifu-content {
      margin-left: 0.7rem; }
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-message .sidebar-waifu-txt {
      margin-right: 0.3rem; }
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-message .sidebar-waifu-image {
      margin-left: 0.7rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 2rem; }
    .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-message .sidebar-waifu-image-actions {
      border-radius: 2rem;
      padding: 0.3rem;
      margin: 0.3rem 1rem; }
      .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-message .sidebar-waifu-image-actions .sidebar-waifu-image-action {
        background-color: #24283b;
        min-width: 2rem;
        min-height: 2rem;
        border-radius: 2rem; }
      .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-message .sidebar-waifu-image-actions .sidebar-waifu-image-action:hover,
      .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-message .sidebar-waifu-image-actions .sidebar-waifu-image-action:focus {
        background-color: #414868; }
      .sidebar-left .content .sidebar-chat-viewport .sidebar-chat-message .sidebar-waifu-image-actions .sidebar-waifu-image-action:active {
        background-color: #a9b1d6; }

.overview-window .bar-height {
  min-height: 12rem; }

.overview-window .overview {
  padding: 2rem 0;
  border-radius: 2rem;
  box-shadow: 0px 2px 3px #24283b;
  background-color: #24283b;
  color: #c0caf5;
  opacity: 0.9;
  font-family: Product Sans; }
  .overview-window .overview .overview-search {
    background-color: #1d202f;
    box-shadow: 3px 3px 3px 3px #24283b;
    margin-bottom: 1rem;
    min-height: 2rem;
    border-radius: 0.5rem; }
    .overview-window .overview .overview-search .overview-search-prompt-box {
      margin-right: 1rem; }
    .overview-window .overview .overview-search .overview-search-box {
      padding: 0 2rem;
      caret-color: transparent; }
    .overview-window .overview .overview-search .overview-search-box-extended {
      min-width: 24rem; }
  .overview-window .overview .overview-search-results-scrollable {
    min-height: 36rem;
    min-width: 24rem;
    background-color: #1d202f;
    border-radius: 1rem;
    margin-bottom: 3rem; }
  .overview-window .overview .overview-search-results {
    padding: 1rem;
    border-radius: 1rem; }
    .overview-window .overview .overview-search-results .overview-search-results-icon {
      min-width: 2rem;
      min-height: 2rem;
      font-size: 2rem;
      margin: 0 0.5rem; }
    .overview-window .overview .overview-search-results .overview-search-result-btn {
      padding: 0.5rem;
      border-radius: 0.5rem; }
      .overview-window .overview .overview-search-results .overview-search-result-btn:hover, .overview-window .overview .overview-search-results .overview-search-result-btn:focus {
        background: #24283b; }
    .overview-window .overview .overview-search-results .overview-search-results-txt {
      margin-right: 1rem; }
    .overview-window .overview .overview-search-results .overview-search-results-txt-name {
      font-weight: bold; }
  .overview-window .overview .overview-tasks .overview-tasks-workspace {
    border-radius: 1rem;
    margin: 0.8rem;
    box-shadow: 3px 3px 3px 3px #24283b; }
    .overview-window .overview .overview-tasks .overview-tasks-workspace .overview-tasks-window {
      background: #414868;
      border-radius: 1rem;
      margin: 0.5rem; }
      .overview-window .overview .overview-tasks .overview-tasks-workspace .overview-tasks-window:hover, .overview-window .overview .overview-tasks .overview-tasks-workspace .overview-tasks-window:focus {
        background-color: #444d6f; }
      .overview-window .overview .overview-tasks .overview-tasks-workspace .overview-tasks-window:active {
        background-color: #475176; }
    .overview-window .overview .overview-tasks .overview-tasks-workspace .overview-tasks-window-selected {
      background-color: #475176; }
    .overview-window .overview .overview-tasks .overview-tasks-workspace .overview-tasks-window-dragging {
      opacity: 0.2; }

menu {
  background-color: #414868;
  color: #c0caf5;
  padding: 1rem;
  border-radius: 1rem;
  font-family: Product Sans; }
  menu menuitem {
    border-radius: 0.3rem;
    padding: 0.1rem 0.3rem;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out; }
    menu menuitem:hover {
      background-color: #a9b1d6;
      color: #24283b; }
