* {
  all: unset; }

.bar {
  font-size: 12pt; }
  .bar .workspaces {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem; }
    .bar .workspaces .workspace {
      transition: all 200ms;
      padding: 0.2rem; }
      .bar .workspaces .workspace.occupied {
        background-color: blue;
        border-top: 1px solid white;
        border-bottom: 1px solid white; }
        .bar .workspaces .workspace.occupied.occupied-left {
          border-bottom-left-radius: 1rem;
          border-top-left-radius: 1rem;
          border-left: 1px solid white; }
        .bar .workspaces .workspace.occupied.occupied-right {
          border-bottom-right-radius: 1rem;
          border-top-right-radius: 1rem;
          border-right: 1px solid white; }
      .bar .workspaces .workspace:not(.occupied) {
        border-radius: 1rem; }
      .bar .workspaces .workspace.active .workspace-label {
        background-color: white;
        color: blue;
        border-radius: 1rem; }
      .bar .workspaces .workspace .workspace-label {
        min-width: 2rem; }
