#!/bin/sh

sys_type="$(cat /sys/class/dmi/id/chassis_type)"

case "$sys_type" in
    3)
        picom --backend glx -f &
        ;;
    10)
        picom --backend xrender -f &
        nm-applet &
        ;;
    *)
        picom --backend xrender -f &
        ;;
esac

dunst &

[ -n "$(xsetwacom list devices)" ] && "$SCRIPTS_DIR/devices/wacom.sh"

#python "$SCRIPTS_DIR/external/inkscape-shortcut-manager/main.py" &

wallpaper="$(ls "$HOME/.config" | grep wallpaper | head -n 1)"
chwall "$HOME/.config/$wallpaper"
