#!/bin/sh

"$SCRIPTS_DIR/display_profile.sh"

sys_type="$(cat /sys/class/dmi/id/chassis_type)"

case "$sys_type" in
    3)
        picom --backend glx -f &
        ;;
    10)
        picom --backend xrender -f &
        nm-applet &
        ;;
    *)
        picom --backend xrender -f &
        ;;
esac


[ -n "$(xsetwacom list devices)" ] && "$SCRIPTS_DIR/devices/wacom.sh"
