*background: #24283b
*foreground: #c0caf5

*color0: #1d202f
*color1: #f7768e
*color2: #9ece6a
*color3: #ff9e64
*color4: #7aa2f7
*color5: #c0caf5
*color6: #73daca
*color7: #a9b1d6

*color8: #5e6997
*color9: #f7768e
*color10: #9ece6a
*color11: #e0af68
*color12: #2ac3de
*color13: #bb9af7
*color14: #7dcfff
*color15: #ffffff


dmenu.background:           #24283b
dmenu.foreground:           #c0caf5

dmenu.midbackground:        #24283b
dmenu.midforeground:        #c0caf5

dmenu.selbackground:        #414868
dmenu.selforeground:        #7dcfff

dmenu.selhlbackground:      #e0af68
dmenu.selhlforeground:      #1a1b26

dmenu.hlbackground:         #ff9e64
dmenu.hlforeground:         #1a1b26


dwm.normfgcolor:            #c0caf5
dwm.normbgcolor:            #24283b
dwm.normbordercolor:        #1a1b26
dwm.normfloatcolor:         #1a1b26

dwm.selfgcolor:             #ffffff
dwm.selbgcolor:             #414868
dwm.selbordercolor:         #7dcfff
dwm.selfloatcolor:          #7dcfff

dwm.titlenormfgcolor:       #c0caf5
dwm.titlenormbgcolor:       #24283b
dwm.titlenormbordercolor:   #1a1b26
dwm.titlenormfloatcolor:    #1a1b26

dwm.titleselfgcolor:        #c0caf5
dwm.titleselbgcolor:        #24283b
dwm.titleselbordercolor:    #1a1b26
dwm.titleselfloatcolor:     #1a1b26

dwm.tagsnormfgcolor:        #c0caf5
dwm.tagsnormbgcolor:        #1a1b26
dwm.tagsnormbordercolor:    #1a1b26
dwm.tagsnormfloatcolor:     #1a1b26

dwm.tagsselfgcolor:         #eeeeee
dwm.tagsselbgcolor:         #414868
dwm.tagsselbordercolor:     #1a1b26
dwm.tagsselfloatcolor:      #1a1b26

dwm.hidnormfgcolor:         #5e6997
dwm.hidnormbgcolor:         #1a1b26
dwm.hidselfgcolor:          #1a1b26
dwm.hidselbgcolor:          #1a1b26

dwm.urgfgcolor:             #f7768e
dwm.urgbgcolor:             #fcb54c
dwm.urgbordercolor:         #6bb2c0
dwm.urgfloatcolor:          #1a1b26


sb.style1.fg:               #24283b
sb.style1.bg_icon:          #31b3ff
sb.style1.bg_text:          #97d8ff

sb.style2.fg:               #24283b
sb.style2.bg_icon:          #78b13a
sb.style2.bg_text:          #9ece6a

sb.style3.fg:               #24283b
sb.style3.bg_icon:          #fcb54c
sb.style3.bg_text:          #fdd497

sb.style4.fg:               #24283b
sb.style4.bg_icon:          #ab82f5
sb.style4.bg_text:          #cbb2f9

sb.style5.fg:               #24283b
sb.style5.bg_icon:          #ff6e18
sb.style5.bg_text:          #ffae7e

sb.style6.fg:               #24283b
sb.style6.bg_icon:          #36cab3
sb.style6.bg_text:          #73daca

sb.style7.fg:               #24283b
sb.style7.bg_icon:          #7e92eb
sb.style7.bg_text:          #c0caf5

sb.style8.fg:               #24283b
sb.style8.bg_icon:          #89b0ae
sb.style8.bg_text:          #bee3db

sb.style9.fg:               #24283b
sb.style9.bg_icon:          #27c7ff
sb.style9.bg_text:          #5fddef
