@import "css/colors";

@mixin rounding {
    border-radius: 20rem;
}

@mixin window {
    border: 1px solid $bar_bg;
    box-shadow: 0 2px 3px $bar_bg;
    margin: 5px 5px 10px;
    border-radius: 16px;
}

* {
    all: unset;
    transition: 200ms ease;
}

scale trough {
    background-color: $bar_bg;
    border-radius: 24px;
    margin: 0 1rem;
    min-height: 10px;
    min-width: 70px;
}

@import "css/bar";
@import "css/music";
