@import "css/colors";

@mixin rounding {
    border-radius: 20rem;
}

@mixin window {
    border: 1px solid $bar_bg;
    box-shadow: 0 2px 3px $bar_bg;
    margin: 5px 5px 10px;
    border-radius: 16px;
}

* {
    all: unset;
    transition: 200ms ease;
}

@import "widgets/bluetooth/bluetooth";
@import "widgets/brightness/brightness";
@import "widgets/datetime-user/datetime-user";
@import "widgets/hardware/hardware";
@import "widgets/ip/ip";
@import "widgets/keyboard/keyboard";
@import "widgets/media/media";
@import "widgets/music/music";
@import "widgets/network/network";
@import "widgets/sysinfo/sysinfo";
@import "widgets/theme/theme";
@import "widgets/time/time";
@import "widgets/updates/updates";
@import "widgets/volume/volume";
@import "widgets/weather/weather";
@import "widgets/wifi/wifi";
@import "widgets/workspaces/workspaces";

@import "windows/bar/bar";
@import "windows/calendar/calendar";
@import "windows/configuration/configuration";
@import "windows/media/media";
@import "windows/system/system";
