@import "css/colors";

.dummy {
    font-size: 0px;
}

@mixin rounding {
    border-radius: 16px;
}

@mixin window {
    border: 1px solid $bg;
    box-shadow: 0 2px 3px $bg;
    margin: 5px 5px 10px;
    @include rounding;
}

* {
    all: unset;
    font-family: "Jost *", Roboto, sans-serif;
    transition: 200ms ease;
}

.music-window {
    @include window;
}

.music-cover-art {
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    margin: 1em;
    min-width: 170px;
    background-size: contain;
    background-repeat: no-repeat;
}

.music-box {
    margin: 1rem 1rem 1rem 0;
}

.music-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.music-artist {
    padding-top: 1rem;
    color: $color15;
    padding-bottom: 1rem;
}

.music-button label {
    color: $color15;
    font-size: 2rem;
}

.music-time {
    color: $color15;
    margin: 0 1rem;
}

.music-bar scale {
    highlight {
        background-image: linear-gradient(to right, $color7, $color15);
        border-radius: 24px;
    }

    trough {
        border-radius: 24px;
        margin-top: 0;
        min-height: 10px;
        min-width: 170px;
    }
}

scale trough {
    background-color: $color0;
    border-radius: 24px;
    margin: 0 1rem;
    min-height: 10px;
    min-width: 70px;
}
