.network {
    .system-box {
        .system-element {
            border-radius: 1rem;
            background: $sysbox_bg;

            .system-icon {
                padding-left: 1.2rem;
                padding-right: 1.2rem;
                padding-top: 0.2rem;
                padding-bottom: 0.2rem;

                border-radius: 1rem;

                font-size: 18pt;
            }

            .system-btn {
                padding-left: 1.2rem;
                padding-right: 1.2rem;
                border-radius: 1rem;
            }

            .system-icon:hover {
                background: $sysbox_hover;
            }

            .system-btn:hover {
                background: $sysbox_hover;
            }
        }

        &.wifi-box {
            .system-element {
                .system-icon {
                    padding-right: 1.8rem;
                }
            }
        }

        &.airplane-box {
            .system-element {
                .system-icon {
                    padding-right: 2.8rem;
                    padding-left: 2.8rem;
                }
            }
        }
    }

    .system-label {
        margin-top: 0.5rem;
    }
}
