.media-box {
    .media-panel {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        box-shadow: inset 0 0 3rem 2rem transparentize(black, 0.1);

        border-radius: 0.5rem;
        padding: 0.5rem;
        min-height: 10rem;

        .media-info {
            .media-title {
                font-size: 12pt;
            }

            .media-artist {
                font-size: 10pt;
            }
        }

        .media-control {
            .media-scale {
                trough {
                    background-color: $sysslider_bg;
                    border-radius: 1rem;
                    min-height: 0.5rem;
                    min-width: 8rem;
                }
                highlight {
                    @include rounding;
                    background-image: linear-gradient(
                        to right,
                        $sysmediaslider1,
                        $sysmediaslider2
                    );
                }
            }

            .media-controllers {
                .media-time {
                    margin-left: 1rem;
                }

                .media-buttons {
                    margin-left: 0.2rem;

                    .media-button-previous {
                        font-size: 14pt;
                    }

                    .media-button-play-pause {
                        font-size: 16pt;
                        padding-right: 0.4rem;
                    }

                    .media-button-next {
                        font-size: 14pt;
                    }

                    .active {
                        color: #1db954;
                    }
                }
            }
        }
    }

    .media-slider {
        background: red;

        trough {
            background-color: $sysslider_bg;
            border-radius: 24px;
            margin-left: 2rem;
            min-height: 10px;
            min-width: 8rem;
        }
        highlight {
            @include rounding;
            background-image: linear-gradient(
                to right,
                $sysvolslider1,
                $sysvolslider2
            );
        }
    }
}

.music-window {
    @include window;
    color: $bar_fg;
}

.music-cover-art {
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    margin: 1em;
    min-width: 170px;
    background-size: contain;
    background-repeat: no-repeat;
}

.music-box {
    margin: 1rem 1rem 1rem 0;
}

.music-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.music-artist {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.music-button label {
    margin: 0.8rem;
    font-size: 2rem;
}

.music-time {
    margin: 0 1rem;
}

.music-bar scale {
    highlight {
        background-image: linear-gradient(to right, $wmusic1, $wmusic2);
        border-radius: 24px;
    }

    trough {
        border-radius: 24px;
        margin-top: 0;
        min-height: 10px;
        min-width: 170px;
    }
}
