.time {
    font-size: 1.4rem;

    .hour {
        font-weight: bold;
    }

    .date {
        color: $date;

        label {
            padding-left: 0.8rem;
            font-size: 1.4rem;
        }
    }
}
