.sysconfig {
    padding-right: 0.4rem;

    font-size: 14pt;

    .weather-icon {
        font-size: 12pt;
        margin-right: -0.5rem;
        color: $weather;
    }

    .music-icon {
        font-size: 12pt;
        color: #1db954;
        margin-right: -0.5rem;
    }

    .bright-icon {
        color: $brightness;
        padding-right: 0.2rem;
    }

    .volume-icon {
        color: $volume;
    }

    .bluetooth-icon {
        color: $bluetooth;
    }

    .wifi-icon {
        color: $wifi;
    }
}
