* {
	background-image: none;
}
window {
	background-color: rgba(12, 12, 12, 0.9);
}
button {
    color: #${fg};
	background-color: #${bg};
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:active, button:hover {
	background-color: #${color8};
	outline-style: none;
	background-size: 25%;
	border-radius: 20px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
	margin-right : 30px;
	margin-bottom : 30px;
}

button:hover#logout {
	margin-right : 30px;
	margin-top : 30px;
}

button:hover#shutdown {
	margin-left : 20px;
	margin-bottom : 30px;
}

button:hover#reboot {
	margin-left : 30px;
	margin-top : 30px;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
	border-top-left-radius: 50px;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
	border-bottom-left-radius: 50px;
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
	border-top-right-radius: 50px;
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
	border-bottom-right-radius: 50px;
}
