.graph-overlay {
    .graph-box {
        background: $graph_bg;

        .graph-wrapper {
            min-width: calc(30rem + 9px);
            min-height: calc(15rem + 9px);
            border: 1px solid $graph_contrast;

            background: repeating-linear-gradient(
                    to top,
                    $graph_stripe,
                    $graph_stripe 1px,
                    transparent 1px,
                    transparent calc(1.5rem + 1px)
                ),
                repeating-linear-gradient(
                    to right,
                    $graph_stripe,
                    $graph_stripe 1px,
                    transparent 1px,
                    transparent calc(3rem + 1px)
                );

            .cpu-graph {
                color: $cpu;
                background-color: rgba($cpu, 0.1);
            }

            .ram-graph {
                color: $ram;
                background-color: rgba($ram, 0.1);
            }

            .temp-graph {
                color: $temp;
                background-color: rgba($temp, 0.1);
            }

            .gpu-graph {
                color: $gpu;
                background-color: rgba($gpu, 0.1);
            }
        }
    }

    .graph-name {
        background: $graph_contrast;
        margin: 0.5rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        opacity: 0.6;
    }

    .graph-time {
        margin: 0.5rem;
        opacity: 0.4;
        font-size: 14pt;
        font-weight: bold;
    }
}

.hw-graph-button {
    padding: 0.5rem;
    border-top: 2px solid $graph_contrast;
    border-left: 2px solid $graph_contrast;
    border-right: 2px solid $graph_contrast;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.hw-graph-button-active {
    background: $graph_contrast;
}
