#batteries {
    background: @bg;
    color: @color10;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 6px;
    margin-right: 6px;
}

#batteries #battery {
    padding-left: 6px;
    padding-right: 6px;
}

#battery.warning {
    background: @bg;
    color: @color11;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 6px;
    margin-right: 6px;
}

#battery.critical {
    background: @bg;
    color: @color9;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 6px;
    margin-right: 6px;
}
