#hardware {
    background: @bg;
    color: @fg;
    margin-left: 6px;
    margin-right: 6px;
}

#hardware #custom-cpu, #hardware #memory, #hardware #disk, #hardware #custom-gpu {
    padding-left: 12px;
    padding-right: 12px;
    margin: 0;
}

#hardware #custom-cpu {
    color: @color4;
}

#hardware #memory {
    color: @color5;
}

#hardware #disk {
    color: @color2;
}

#hardware #custom-gpu {
    padding-right: 6px;
    color: @color6;
}
