#music {
    background-color: @bg;
    color: @color3;
    padding-left: 12px;
    padding-right: 12px;
}

#music #cava {
    color: @fg;
    margin-right: 12px;
    margin-left: 12px;
}

#music #custom-media {
    color: @color7;
}

#music #custom-media.c30 {
    color: red;
}

#music #wireplumber {
    margin-left: 12px;
}
