#workspaces {
    background-color: @bg;
}

#workspaces button {
    color: @color8;
}
#workspaces button:last-child {
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    border: none;
    background: @color7;
}

#workspaces button.active {
    color: @fg;
}

