.sysinfo {
    margin: 0.4rem 0;

    padding-left: 0.5rem;
    padding-right: 0.5rem;

    border-radius: 0.2rem;

    background-color: $sysinfo_bg;

    .circular-progress {
        background: $sysinfocp_bg;
    }

    .cpu {
        color: $cpu;
    }
    
    .temperature {
        color: $temp
    }

    .memory {
        color: $mem;
    }

    .disk {
        color: $disk;
    }

    .gpu {
        color: $gpu;
    }
}
