.music-box {
    margin-left: -1rem;
    margin-right: -1rem;

    .music {
        .background {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;

            opacity: 0.3;

            border-radius: 1rem;

            animation: 60s linear infinite up-down;
        }

        .info {
            padding-left: 1rem;
            padding-right: 1rem;

            .cover {
                border-radius: 0.5rem;
                margin-top: 0.3rem;
                margin-bottom: 0.3rem;

                box-shadow: 0 2px 3px $shadow;

                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                min-width: 2rem;
            }
        }
    }
}

@keyframes up-down {
    0% {
        background-position: center center;
    }

    5% {
        background-position: center center;
    }

    24% {
        background-position: bottom center;
    }

    30% {
        background-position: bottom center;
    }

    50% {
        background-position: center center;
    }

    55% {
        background-position: center center;
    }

    75% {
        background-position: top center;
    }

    80% {
        background-position: top center;
    }

    100% {
        background-position: center center;
    }
}

.music-eventbox:hover {
    .background {
        // animation: 60s linear infinite up-down;
    }
}
