.music {
    margin-left: -1rem;

    .image {
        border-radius: 50rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-width: 2rem;
        min-height: 2rem;
    }

    .info {
        margin-left: 1rem;
    }
}
