$bar_bg:            #24283b;
$bar_fg:            #c0caf5;
$shadow:            #1a1b26;

$ws0:               #414868;
$ws1:               #565f89;
$ws2:               #c0caf5;

$cpu:               #7aa2f7;
$ram:               #bb9af7;
$temp:              #f7768e;
$gpu:               #7dcfff;
$disk:              #9ece6a;

$wifi:              #7aa2f7;
$bluetooth:         #c0caf5;
$volume:            #73daca;
$brightness:        #e0af68;

$weather_min:       #7aa2f7;
$weather_max:       #f7768e;
$weather_feels:     #9ece6a;
$weather_info:      #a9b1d6;

$ip:                #7aa2f7;

$battery:           #9ece6a;
$battery_warn:      #e0af68;
$battery_critical:  #f7768e;

$keyboard:          #ff9e64;
$updates:           #f7768e;

$sysinfocp_bg:      #414868;

$date:              #cfc9c2;

$wmusic1:           #9aa5ce;
$wmusic2:           #a9b1d6;

$today:             #4f87ff;
$week:              #9aa5ce;
$month:             #9aa5ce;
$ch_month:          #7dcfff;
$cal_inter:         #565f89;

$sys_bg:            #24283b;
$sys_fg:            #c0caf5;

$config_bg:         #1a1b26;
$config_fg:         #c0caf5;
$configbox_bg:      #24283b;
$configbox_hover:   #414868;

$slider_bg:         #414868;
$volslider1:        #73daca;
$volslider2:        #b4f9f8;
$brightslider1:     #e0af68;
$brightslider2:     #ffc777;
$mediaslider1:      #9aa5ce;
$mediaslider2:      #c0caf5;

$graph_bg:          #24283b;
$graph_contrast:    #565f89;
$graph_stripe:      #383e5a;
