$bar_bg:    #24283b;
$shadow:    #1a1b26;

$bar_fg0:   #414868;
$bar_fg1:   #565f89;
$bar_fg2:   #c0caf5;

$date:      #cfc9c2;

$wmusic1:   #9aa5ce;
$wmusic2:   #a9b1d6;

$today:     #4f87ff;
$week:      #a9b1d6;
$month:     #a9b1d6;
$ch_month:  #7dcfff;
