$bar_bg:            #24283b;
$bar_fg:            #c0caf5;
$shadow:            #1a1b26;

$ws0:               #414868;
$ws1:               #565f89;
$ws2:               #c0caf5;

$bar_sys_bg:        #565f89;
$bcpu:              #7aa2f7;
$bmem:              #bb9af7;
$bdisk:             #9ece6a;
$bgpu:              #7dcfff;

$date:              #cfc9c2;

$wmusic1:           #9aa5ce;
$wmusic2:           #a9b1d6;

$today:             #4f87ff;
$week:              #9aa5ce;
$month:             #9aa5ce;
$ch_month:          #7dcfff;
$cal_inter:         #565f89;

$sys_bg:            #24283b;
$sys_fg:            #c0caf5;
$sysbox_bg:         #565f89;
$sysbox_hover:      #9aa5ce;

$sysslider_bg:      #1a1b26;
$sys_volume:        #73daca;
$sysvolslider1:     #73daca;
$sysvolslider2:     #b4f9f8;
$sys_bright:        #e0af68;
$sysbrightslider1:  #e0af68;
$sysbrightslider2:  #ffc777;
$sysmediaslider1:   #9aa5ce;
$sysmediaslider2:   #c0caf5;
