.bar {
    font-family: "Jost *", Roboto, sans-serif;
    background: transparent;

    font-size: 1rem;

    margin-left: 1rem;
    margin-right: 1rem;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .bar-part {
        background: $bar_bg;
        color: $bar_fg2;

        border-radius: 1rem;

        padding-left: 1rem;
        padding-right: 1rem;

        box-shadow: 0 2px 3px $shadow;
    }

    .workspaces {
        font-family: monospace;

        .workspace {
            padding: 0.5rem;

            text-shadow: 0 0 8 $shadow;
        }

        .status0 {
            color: $bar_fg0;
        }

        .status1 {
            color: $bar_fg1;
        }

        .status2 {
            color: $bar_fg2;
            text-shadow: none;
        }
    }

    .datetime {
        font-size: 1.4rem;

        .hour {
            font-weight: bold;
        }

        .date {
            color: $date;
            border-radius: 12px;

            label {
                padding-left: 0.8rem;
                font-size: 1.4rem;
            }
        }
    }

    .music {
        .song-cover-art {
            @include rounding;
            background-position: center;
            background-size: cover;
            margin: 4px 10px 4px 0;
            min-height: 24px;
            min-width: 24px;
        }

        .song-button {
            @include rounding;
            color: $bar_fg2;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            font-size: 18pt;
        }
    }

    .theme-wallpaper {
        padding-right: 1.5rem;

        .wallpaper {
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-top: 0.4rem;
            margin-bottom: 0.4rem;
            margin-left: 0.55rem;
            margin-right: 0.55rem;
        }
        .theme {
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-top: 0.4rem;
            margin-bottom: 0.4rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            min-width: 1.75rem;
        }
    }
}
