.bar {
    font-family: "Jost *", Roboto, sans-serif;
    background: transparent;

    font-size: 1rem;

    margin-left: 1rem;
    margin-right: 1rem;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .bar-part {
        background: $bar_bg;
        color: $bar_fg;

        border-radius: 1rem;

        padding-left: 1rem;
        padding-right: 1rem;

        box-shadow: 0 2px 3px $shadow;
    }
}

@import "../widgets/workspaces/workspaces";
@import "../widgets/theme/theme";
@import "../widgets/keyboard/keyboard";
@import "../widgets/sysinfo/sysinfo";
@import "../widgets/sysconfig/sysconfig";
@import "../widgets/time/time";
