.calendar-win {
    @include window;
    background-color: $bar_bg;
    border: 1px solid $shadow;
    color: $bar_fg2;
    padding: 0.2em;
}

calendar {
    padding: 5px;

    :selected {
        color: $today;
    }

    .header {
        color: $month;
    }

    .highlight {
        color: $week;
        font-weight: bold;
    }

    .button {
        color: $ch_month;
    }

    :indeterminate {
        color: $bar_fg1;
    }
}
