.configuration-window {
    background-color: $config_bg;
    color: $config_fg;
    border-radius: 1rem;

    padding: 1rem;

    font-weight: 100;
    font-family: Product Sans;
}

@import "../widgets/datetime-user/datetime-user";
@import "../widgets/network/network";
@import "../widgets/volume/volume";
@import "../widgets/brightness/brightness";
@import "../widgets/weather/weather";
@import "../widgets/media/media";
