.vol-icon {
    color: $green;
    margin: 0px -0.4rem 0px 0px;
}

.volume-icon-bar {
    margin-left: 1rem;
    trough {
        background-color: $bg1;
        border-radius: 24px;
        margin: 0 0;
        min-height: 10px;
        min-width: 8rem;
    }
    highlight {
        @include rounding;
        background-image: linear-gradient(to right, $teal, $sky);
    }
}
