.datetime-user {
    .time {
        font-size: 4rem;
    }

    .date {
        font-size: 1.2rem;
    }

    .user-picture {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 4rem;
        min-width: 3.5rem;
        min-height: 3.5rem;
    }
}
