.brightness-box {
    .brightness-icon {
        font-size: 16pt;
        color: $brightness;
    }

    .brightness-slider {
        trough {
            background-color: $slider_bg;
            border-radius: 24px;
            margin-left: 2rem;
            min-height: 10px;
            min-width: 8rem;
        }
        highlight {
            @include rounding;
            background-image: linear-gradient(
                to right,
                $brightslider1,
                $brightslider2
            );
        }
    }
}
