.weather {
    .weather-info {
        color: $weather_info;

        .max-temp {
            color: $weather_max;
        }

        .min-temp {
            color: $weather_min;
        }
        
        .feels-temp {
            color: $weather_feels;
        }
    }
}
