$fg: {foreground};
$bg: {background};

$black: {color0};
$red: {color1};
$green: {color2};
$yellow: {color3};
$blue: {color4};
$magenta: {color5};
$cyan: {color6};
$white: {color7};

$bright_black: {color8};
$bright_white: {color15};


$primary: {primary};
$onPrimary: {onPrimary};
$primaryContainer: {primaryContainer};
$onPrimaryContainer: {onPrimaryContainer};

$secondary: {secondary};
$onSecondary: {onSecondary};
$secondaryContainer: {secondaryContainer};
$onSecondaryContainer: {onSecondaryContainer};

$tertiary: {tertiary};
$onTertiary: {onTertiary};
$tertiaryContainer: {tertiaryContainer};
$onTertiaryContainer: {onTertiaryContainer};

$error: {error};
$onError: {onError};
$errorContainer: {errorContainer};
$onErrorContainer: {onErrorContainer};

$surface: {surface};
$onSurface: {onSurface};
$surfaceVariant: {surfaceVariant};
$onSurfaceVariant: {onSurfaceVariant};
